Repository mapbox/public-tools-and-demos: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint, prettier --write, eslint --fix

add hideheaders query param to demo-realestate
  projects/demo-realestate/src/App.jsx
Due: eslint, prettier --write

refactor and document sheetmapper
  projects/sheetmapper/README.md
  projects/sheetmapper/index.html
Due: prettier --write, eslint --fix

update readme
  projects/sheetmapper/README.md
Due: none

Add sheetmapper sample code link
  projects/sheetmapper/README.md
Due: none

Add step 5 prefix to heading
  projects/sheetmapper/README.md
Due: none

Add sheetmapper image
  projects/sheetmapper/README.md
Due: none

update sheetmapper image
  projects/sheetmapper/README.md
Due: none

Added Segment tracking to storytelling, realeastate & store-locator & location helper
  projects/demo-realestate/index.html
  projects/demo-store-locator/index.html
  projects/location-helper/index.html
  projects/storytelling/index.html
Due: prettier --write, eslint --fix

Added Segment tracking to storytelling, realeastate & store-locator & location helper (#10)
  projects/demo-realestate/index.html
  projects/demo-store-locator/index.html
  projects/location-helper/index.html
  projects/storytelling/index.html
Due: prettier --write, eslint --fix

update storytelling example to use the latest template code
  projects/storytelling/public/config.js
  projects/storytelling/public/storytelling.html
Due: eslint, prettier --write, eslint --fix

Added missing comma to android bounding boxes
  projects/location-helper/src/Android.jsx
Due: eslint, prettier --write

Added missing comma to android bounding boxes (#12)
  projects/location-helper/src/Android.jsx
Due: eslint, prettier --write

fix build. The package @mapbox/web-analytics is not available in the registry.
  projects/demo-components/package.json
  yarn.lock
Due: prettier --write

fix build. The package @mapbox/web-analytics is not available in the registry. (#15)
  projects/demo-components/package.json
  yarn.lock
Due: prettier --write

Refactor PageShell to use inline web-analytics
  .eslintrc
  .husky/pre-commit
  projects/demo-components/src/page-shell.jsx
  projects/demo-realestate/index.html
  projects/demo-realestate/src/main.jsx
  projects/demo-store-locator/index.html
  projects/developer-cheatsheet/index.html
  projects/developer-cheatsheet/public/css/output.css
  projects/developer-cheatsheet/public/js/script.js
  projects/location-helper/index.html
Due: eslint, prettier --write, eslint --fix

Fix propTypes warnings, insert script for realeastate demo, add check for store-locator
  projects/demo-store-locator/src/Map/index.jsx
  projects/demo-store-locator/src/main.jsx
Due: eslint, prettier --write

Fix propTypes warnings, insert script for realeastate demo, add check for store-locator 2nd try
  projects/demo-components/src/access-token.jsx
  projects/demo-components/src/mapbox-tooltip.jsx
  projects/demo-components/src/mapbox-tooltips.jsx
  projects/demo-realestate/index.html
Due: eslint, prettier --write, eslint --fix

Revert access token
  projects/demo-components/src/access-token.jsx
Due: eslint, prettier --write

Fix Developer CheatSheet Links & Refactor PageShell component (#16)
  .eslintrc
  .husky/pre-commit
  projects/demo-components/src/mapbox-tooltip.jsx
  projects/demo-components/src/mapbox-tooltips.jsx
  projects/demo-components/src/page-shell.jsx
  projects/demo-realestate/index.html
  projects/demo-realestate/src/main.jsx
  projects/demo-store-locator/index.html
  projects/demo-store-locator/src/Map/index.jsx
  projects/demo-store-locator/src/main.jsx
  projects/developer-cheatsheet/index.html
  projects/developer-cheatsheet/public/css/output.css
  projects/developer-cheatsheet/public/js/script.js
  projects/location-helper/index.html
Due: eslint, prettier --write, eslint --fix

add delivery app demo
  projects/demo-components/src/map.jsx
  projects/demo-components/src/tooltipData.js
  projects/demo-delivery-app/README.md
  projects/demo-delivery-app/index.html
  projects/demo-delivery-app/package.json
  projects/demo-delivery-app/postcss.config.mjs
  projects/demo-delivery-app/public/img/icon-box.svg
  projects/demo-delivery-app/public/img/mapbox-logo.svg
  projects/demo-delivery-app/public/img/parcelgo-logo.svg
  projects/demo-delivery-app/public/img/truck-icon.png
  projects/demo-delivery-app/public/img/waypoint.svg
  projects/demo-delivery-app/src/App.jsx
  projects/demo-delivery-app/src/CurrentLocationMap.jsx
  projects/demo-delivery-app/src/DeliveryAppUI.jsx
  projects/demo-delivery-app/src/Map.jsx
  projects/demo-delivery-app/src/Navbar.jsx
  projects/demo-delivery-app/src/PhoneFrame.jsx
  projects/demo-delivery-app/src/TruckMarker.jsx
  projects/demo-delivery-app/src/layout.jsx
  projects/demo-delivery-app/src/main.jsx
  projects/demo-delivery-app/src/styles.css
  projects/demo-delivery-app/src/utils.js
  projects/demo-delivery-app/tailwind.config.js
  projects/demo-delivery-app/vite.config.js
  yarn.lock
Due: eslint, prettier --write, eslint --fix

delivery demo: remove unused dependencies from package.json
  projects/demo-delivery-app/package.json
  projects/demo-delivery-app/src/DeliveryAppUI.jsx
  projects/demo-delivery-app/src/Map.jsx
Due: eslint, prettier --write

Refactor workspace to use vites .env var for access tokens across projects
  .gitignore
  projects/.env.sample
  projects/demo-components/src/access-token.jsx
  projects/demo-components/src/fullscreen-map-layout.jsx
  projects/demo-components/src/map.jsx
  projects/demo-realestate/src/Map/index.jsx
  projects/demo-realestate/vite.config.js
  projects/demo-store-locator/src/Map/index.jsx
  projects/demo-store-locator/src/SearchBoxWrapper.jsx
  projects/demo-store-locator/vite.config.js
  projects/dxf2geojson/index.html
  projects/dxf2geojson/vite.config.js
  projects/isochrone-intersect/index.html
  projects/isochrone-intersect/src/util.jsx
  projects/isochrone-intersect/vite.config.js
  projects/location-helper/vite.config.js
  projects/port-geofencing/index.html
  projects/port-geofencing/vite.config.js
  projects/storytelling/vite.config.js
  projects/what-the-tile/index.html
  projects/what-the-tile/vite.config.js
  yarn.lock
Due: eslint, prettier --write, eslint --fix

Revert map
  projects/demo-components/src/map.jsx
Due: eslint, prettier --write

Added AccessTokens note to readme
  README.md
Due: none

Revised readme
  README.md
Due: none

Reverted isochrone intersect
  projects/isochrone-intersect/src/util.jsx
Due: eslint, prettier --write

add a warning about publishing with a common access token
  DEPLOYMENT.md
Due: none

Update README.md
  README.md
Due: none

Refactor to remove access tokens & use local env variables to manage tokens (#18)
  .gitignore
  DEPLOYMENT.md
  README.md
  projects/.env.sample
  projects/demo-components/src/access-token.jsx
  projects/demo-components/src/fullscreen-map-layout.jsx
  projects/demo-components/src/map.jsx
  projects/demo-realestate/src/Map/index.jsx
  projects/demo-realestate/vite.config.js
  projects/demo-store-locator/src/Map/index.jsx
  projects/demo-store-locator/src/SearchBoxWrapper.jsx
  projects/demo-store-locator/vite.config.js
  projects/dxf2geojson/index.html
  projects/dxf2geojson/vite.config.js
  projects/isochrone-intersect/index.html
  projects/isochrone-intersect/vite.config.js
  projects/location-helper/vite.config.js
  projects/port-geofencing/index.html
  projects/port-geofencing/vite.config.js
  projects/storytelling/vite.config.js
  projects/what-the-tile/index.html
  projects/what-the-tile/vite.config.js
  yarn.lock
Due: eslint, prettier --write, eslint --fix

Update projects/demo-delivery-app/src/Map.jsx
  projects/demo-delivery-app/src/Map.jsx
Due: eslint, prettier --write

updates from PR review
  .gitignore
  projects/demo-delivery-app/package.json
  projects/demo-delivery-app/src/App.jsx
  projects/demo-delivery-app/src/DeliveryAppUI.jsx
  projects/demo-delivery-app/src/Instructions.jsx
  projects/demo-delivery-app/src/utils.js
  yarn.lock
Due: eslint, prettier --write

add envDir to vite.config.js
  projects/demo-delivery-app/vite.config.js
Due: eslint, prettier --write

add admin panel UI to delivery app
  projects/demo-delivery-app/src/AdminMockUI.jsx
  projects/demo-delivery-app/src/App.jsx
  projects/demo-delivery-app/src/Navbar.jsx
Due: eslint, prettier --write

use full address in admin panel
  projects/demo-delivery-app/src/App.jsx
Due: eslint, prettier --write

use variable for repetative class names
  projects/demo-delivery-app/src/AdminMockUI.jsx
Due: eslint, prettier --write

Initial support of NavBar
  projects/gl-js-pin-powered/package.json
  projects/gl-js-pin-powered/postcss.config.mjs
  projects/gl-js-pin-powered/public/mapbox-logo.svg
  projects/gl-js-pin-powered/src/App.tsx
  projects/gl-js-pin-powered/src/components/NavBar/index.tsx
  projects/gl-js-pin-powered/src/style.css
  projects/gl-js-pin-powered/tailwind.config.js
  yarn.lock
Due: eslint, prettier --write

Path conditions:
  eslint: (any of: *.js) or (any of: *.jsx)
  prettier --write: ((((any of: *.js) or (any of: *.jsx)) or (any of: *.css)) or (any of: *.json)) or (any of: *.html)
  eslint --fix: any of: *.html
